@charset "UTF-8";

/*Paleta de cores

#F2C49B (pêssego)
#F24535 (coral)
#023859 (azul-marinho)
*/

/*Mobile First*/

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

 body {
    background: url(../imagens/office.jpg) fixed;
    background-size: cover;
    background-position: center center;
    
}

main {

}

section > h1 {
  padding-top: 60px;
           
}

section > #topo {
    padding: 15px;
    font-style: italic;
    font-weight: bold;
}

form {
    width: 720px;
    padding: 20px;
    background-color:#f2c49b7e;
    height: 100%;
    border-radius: 5px;
}